.skills-section{
    background:#030712;
    padding:90px 20px;
    color:white;
}

.skills-container{
    max-width:1200px;
    margin:auto;
}

.skills-heading{
    text-align:center;
    color:#facc15;
    font-size:3rem;
    font-weight:bold;
    margin-bottom:60px;
}

.category{
    margin-bottom:50px;
}

.category h3{
    color:#fbbf24;
    margin-bottom:25px;
    font-size:1.4rem;
    letter-spacing:1px;
}

.skills-grid{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(170px,1fr));
    gap:20px;

}

.skill-card{

    background:rgba(255,255,255,0.05);

    border:1px solid rgba(255,255,255,.08);

    backdrop-filter:blur(14px);

    border-radius:18px;

    padding:22px;

    display:flex;

    align-items:center;

    gap:18px;

    transition:.35s;

    cursor:pointer;

}

.skill-card:hover{

    transform:translateY(-8px) scale(1.03);

    border-color:#facc15;

    box-shadow:0 10px 30px rgba(250,204,21,.25);

}

.skill-icon{

    font-size:34px;

}

.skill-card span{

    font-weight:600;

    color:#f3f4f6;

    font-size:16px;

}

@media(max-width:768px){

.skills-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:500px){

.skills-grid{

grid-template-columns:1fr;

}

}